<% if user_signed_in? %>
	<p> You are signed in already </p>
<%else%>
<div class="center hero-unit">
    <h1>Welcome! </h1>
    <p>to <%= link_to 'One Month Rails',  "http://onemonthrails.com" %>
     </p>

    <p> <%= link_to 'Sign up now!',  new_user_registration_path, class: "btn btn-large btn-primary" %> </p>
</div>
<%end%>




